*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.container{
    width: 	920px;
    margin: auto;
}
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
/* Navgation Style */
/* .nav{
    background-image: url('../images/labtopBG.jpg');
    min-height: 100px;
    padding-bottom: 100px;
} */
.nav ul{
    padding-left: 0;
    margin: 0;
    text-align: right;
}
.nav li{
    display: inline-block;
}
.nav .menu_link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
.nav .menu_link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}


.Logo{
    width: 50%;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: bold;
}
.Logo a{
    color: #000;
    text-decoration: none;
}

section .active_class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}


.navbar_menu .menu_link .active {
    background: 'pink';
    color: white;

}  


.active {
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color: white;
}


/* style section Service */
.headService{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}
.ServiceIMG{
    width: 49%;
    margin-top: 20px;
}
.ServiceTXT{
    width: 49%;
    
}
.ServiceTXT h3{
    margin-top: 20px;
    font-size: 25px;
    
}
.ServiceTXT p{
    font-size: 18px;
    margin-top: 7px;
    color: #9999;
    
}
.ServiceTXT a{
    color: #000;
    text-decoration: none;
}

.ServiceTXT a:hover{
    color: rgb(51, 55, 95);
    text-decoration: underline;
}

/* style Work section */
.WorkIMG{
    width: 23%;
    margin-top: 20px;
    margin-right: 10px;
    
}

.WorkIMG:first-child{
    margin-left: 10px;
}
.WorkIMG:hover{
    border: 1px solid #444;
    box-shadow: 5px 10px;
    cursor: pointer;
    
}

/* Style Section About US */

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    width: 98%;
    margin-left: 5px;
    margin-top: 40px;
}

.containers {
    padding: 0 16px;
}

.containers::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: grey;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #555;
}

/* Footer Section Styled */
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.Footer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.Footercolumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}



  /* Clear floats after the columns */
.Footerrow:after {
    content: "";
    display: table;
    clear: both;
}
.Copyrighrt{
    text-align: center;
    color: #444444;
}



.FloatLeft{
    float: left;
}
.FloatRight{
    float: right;
}