*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.container{
    width: 	920px;
    margin: auto;
}
/* Navgation Style */
.nav{
    background-image: url('../images/labtopBG.jpg');
    min-height: 700px;
}
.Logo{
    width: 50%;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
}
.Logo a{
    color: #000;
    text-decoration: none;
}
.menuList{
    width: 50%;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.menuList ul li {
    list-style: none;
}
.listItem{
    margin-right: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    /* padding: 3px 7px; */
    background-color: #f1f1f1;
    cursor: pointer;
    float: left;
}
.listItem a{
    text-decoration: none;
    color: #000;
}
  /* Style the active class (and buttons on mouse-over) */
.active, .listItem:hover {
    background-color: #666;
    color: white;
} 



.active ,.menuList ul li a:hover{
    background-color: #666;
    color: white;
}


/* style section Service */
.headService{
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
}
.ServiceIMG{
    width: 49%;
    margin-top: 20px;
}
.ServiceTXT{
    width: 49%;
    
}
.ServiceTXT h3{
    margin-top: 20px;
    font-size: 25px;
    
}
.ServiceTXT p{
    font-size: 18px;
    margin-top: 7px;
    color: #9999;
    
}
.ServiceTXT a{
    color: #000;
    text-decoration: none;
}

.ServiceTXT a:hover{
    color: rgb(51, 55, 95);
    text-decoration: underline;
}

/* style Work section */
.work{

}
.WorkIMG{
    width: 23%;
    margin-top: 20px;
    margin-right: 10px;
    
}

.WorkIMG:first-child{
    margin-left: 10px;
}
.WorkIMG:hover{
    border: 1px solid #444;
    box-shadow: 5px 10px;
    cursor: pointer;
    
}

/* Style Section About US */

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    width: 98%;
    margin-left: 5px;
    margin-top: 40px;
}

.containers {
    padding: 0 16px;
}

.containers::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
.title {
    color: grey;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.button:hover {
    background-color: #555;
}

/* Footer Section Styled */
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.Footer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.Footercolumn {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

  /* Clear floats after the columns */
.Footerrow:after {
    content: "";
    display: table;
    clear: both;
}
.Copyrighrt{
    text-align: center;
    color: #444444;
}



















.FloatLeft{
    float: left;
}
.FloatRight{
    float: right;
}